<div class="route-main">
    <div class="route-header">
      <img src="img/route.svg" alt="">
      <div id="vertline"></div>
      <div class="name-of-route">
        <span>Карелия - Хибины</span>
      </div>
      <div id="vertline"></div>
      <div class="time">
      <b>5</b> дней
    </div>
    </div>
    <div class="route-map">
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6b8b808809a102be76461f53183022e1a5c8114671f4d7d7a2169560a0aa7139&amp;width=100%&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
    <div class="route-description">
      <h3>Если кратко...</h3>
      <p>
        Равным образом реализация намеченных плановых заданий позволяет выполнять важные задания
        по разработке позиций, занимаемых участниками в отношении поставленных задач.
        Товарищи! рамки и место обучения кадров требуют определения и уточнения новых предложений.
      </p>
    </div>
  </div>
