<header id="head">
    <div class="auth-panel">
        <!-- <input  id="signin-btn" class="main-btn" type="button" value="Регистрация">
        <input id="login-btn" class="main-btn"type="button" value="Вход"> -->
        <span>
          <a href="#"><b>Войдите</b></a><a href="#"> или зарегистрируйтесь</a>
          <a href="#"><i class="fas fa-sign-in-alt"></i></a>
        </span>

    </div>
    <h1>Путешевствуй<b>.</b></h1>
    <!-- <script src="scripts\script.js" data-name-Of-Page = "ПУТЕШЕВСТВУЙ"></script> -->
    <!-- <i class="fas fa-sign-in"></i> -->
    <nav>
      <ul>
        <li><a [routerLink]="['/home']"><i class="fas fa-home"></i>Главная</a></li>
        <li><a [routerLink]="['/albums']"><i class="fas fa-image"></i>Альбомы</a></li>
        <li><a [routerLink]="['/routes']"><i class="fas fa-route"></i>Маршруты</a></li>
        <li><a [routerLink]="['/about']"><i class="fas fa-address-card"></i>О нас</a></li>
      </ul>
    </nav>
  </header>
